# HTMLS

该目录是一些HTML集合, 包含了平时常见需求的简单实现, 可以打开控制台查看代码;

## 预览链接列表

<table>
  <%_ for( let index=0; index < list.length; index +=maxShowNum) { _%>
    <%_ if (index % maxShowNum===0) { _%>
  <tr>
  <%_ for( let c=0; c < maxShowNum; c++ ) { _%>
    <%_ if (index + c < list.length) { _%>
    <td>
      <a href="<%= list[index + c].link %>" target="_blank">
        <%= index + c + 1 %>、<%= list[index + c].name _%>
      </a>
    </td>
    <%_ } _%>
  <%_ } _%>
  </tr>
  <%_ } _%>
  <%_ } _%>
</table>
