# -------------- 兼容低版本移动端浏览器 -------------
iOS >= 9
Android >= 4.4
last 2 versions
> 0.2%
not dead

# -------------- 兼容低版本PC浏览器 -------------
# IE >= 10
# > 0.5%
# last 2 versions
# not dead

# -------------- 现代浏览器 -------------
# last 2 versions
# since 2018
# > 0.5%
