<!--
 * @Author: lorain lorainwings@gmail.com
 * @Date: 2022-08-21 19:13:44
 * @LastEditors: lorain lorainwings@gmail.com
 * @LastEditTime: 2022-08-22 19:54:42
 * @FilePath: /demos/node/node-fsever/template.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node 静态文件服务器</title>
  <style>
    ul {
      list-style: none;
    }

    li {
      line-height: 40px;
      display: flex;
      align-items: center;
    }

    li .icon {
      display: flex;
      align-items: center;
      width: 25px;
      height: 25px;
      margin-right: 6px;
      background-size: 100% 100%;
    }
    li a{
      max-width: 500px;
      white-space: nowrap;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  </style>
</head>

<body>
  <ul>
    <h3>
      IndexOf <%= title %>
    </h3>
    <% if(!isRoot) { %>
      <a href="<%=prev%>">
        上一层
      </a>
    <% } %>

    <% for(let i=0; i < dirs.length; i++) { %>
      <li>
        <% if(dirs[i].isFile){ %>
          <div class="icon">
            <svg t="1661101387325" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2360" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"><defs><style type="text/css"></style></defs><path d="M888.494817 313.882803l-198.019982-198.019982c-7.992021-7.992021-20.957311-7.992021-28.949332 0s-7.992021 20.947078 0 28.939099l163.084309 163.084309-215.794811 0L608.814999 42.686195c0-11.307533-9.15859-20.466124-20.466124-20.466124l-408.094512 0c-11.307533 0-20.466124 9.15859-20.466124 20.466124l0 938.62761c0 11.2973 9.15859 20.466124 20.466124 20.466124l693.76067 0c11.307533 0 20.466124-9.168824 20.466124-20.466124l0-652.961452C894.481158 322.92883 892.332215 317.720202 888.494817 313.882803zM853.54891 960.847681l-652.828422 0L200.720488 63.152319l367.162264 0 0 265.200034c0 11.307533 9.168824 20.466124 20.466124 20.466124l265.200034 0L853.54891 960.847681z" p-id="2361"></path></svg>
          </div>
        <% } else { %>
          <div class="icon">
            <svg t="1661104002497" class="icon" viewBox="0 0 1204 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3247" width="16" height="16"><path d="M561.63235285 164.57352927h335.01838211c27.29779432 0 49.63235285 22.33455854 49.63235366 49.63235284v62.04044147c0 27.29779432-22.33455854 49.63235285-49.63235366 49.63235284H561.63235285c-27.29779432 0-49.63235285-22.33455854-49.63235285-49.63235284v-62.04044147c0-27.29779432 22.33455854-49.63235285 49.63235285-49.63235284z" fill="#AFFCFE" p-id="3248"></path><path d="M983.50735284 933.875H189.38970568c-54.59558862 0-99.26470568-44.66911789-99.26470568-99.26470568V189.38970568c0-54.59558862 44.66911789-99.26470568 99.26470568-99.26470568h285.38602928c68.24448496 18.61213211 54.59558862 53.35477927 99.2647065 99.26470568l31.02021992 49.63235286H983.50735284c54.59558862 0 99.26470568 44.66911789 99.26470569 99.2647065v496.32352928c0 54.59558862-44.66911789 99.26470568-99.26470569 99.26470568z" fill="#2F77F1" p-id="3249"></path></svg>
          </div>
        <% } %>

        <a href="<%=dirs[i].path%>">
          <%= dirs[i].name %>
        </a>
      </li>
    <% } %>
  </ul>
</body>

</html>
