ul.sass-block {
  $width: 30px;
  $height: 30px;
  $colorVal: 50;
  @for $i from 1 through 4 {
    $cv: (random() * $i * 60, random() * $i * 60, random() * $i * 60);
    // @debug $cv;

    .li-#{$i} {
      width: $width * $i;
      height: $height * $i;
      background-color: rgb(
        round(nth($cv, 1)),
        round(nth($cv, 2)),
        round(nth($cv, 3))
      );
    }
  }
}

